.loginMain {
    width: 95%;
    max-width: 400px;
    height: 400px;

    margin-top: 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-color: #202050;
    border-radius: 5px;
}

.loginMain > h1 {
    font-weight: 100;
    font-size: 35px;
    color: white;
}

.loginMain > input {
    width: 75%;
    height: 35px;

    border: none;
    border-radius: 5px;

    padding-left: 10px;
}

.loginMain > input:focus {
    outline: 1px solid #888;
}

.loginMain > button {
    width: 50%;
    height: 35px;

    border: none;
    border-radius: 5px;
}

.loginMain > button:hover {
    background-color: #198754;
    color: whitesmoke;
    transition: 0.5s;
}

.loginMain > p {
    color: white;
}
.loginMain > p > a {
    color: white;
}

.loginMain > p > a:hover {
    font-weight: bold;
    transition: 0.3s;
}