header {
    height: 60px;
    width: 100%;
    max-width: 1440px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #202050;

    margin-bottom: 50px;
}

header > .buttonWrapper {
    width: 100%;
    max-width: 420px;
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

header > .buttonWrapper > a {
    height: 100%;
    width: 40%;
    max-width: 200px;
}

header > .buttonWrapper > a > button {
    width: 100%;
    height: 100%;

    color: white;

    border: none;
    border-radius: 0 0 10px 10px;
    background-color: #00000033;
}

header > .buttonWrapper > a > button:hover {
    transition: 0.5s;
    background-color: #00000055;
}

header > .buttonWrapper > a > button.active {
    background-color: #00000055;
}

@media screen and (max-width: 425px) {
    header {
        margin: 50px 0 0 0;
        position: fixed;
        bottom: 0;
    }

    header > .buttonWrapper > a > button {
        border-radius: 10px 10px 0 0;
    }
}