.ticketWrapper {
    width: 100%;
    max-width: 1440px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media screen and (max-width: 425px) {
    .ticketWrapper {
        margin-bottom: 80px;
    }
}