.card {
    width: 25%;
    height: 30% !important;

    border-radius: 5px;
    background-color: #00000033 !important;
    
    color: white !important;
    text-decoration: none;
    
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.5s;

    background-color: #00000055 !important;

    color: white !important;
}

.card > h1 {
    font-weight: 100;
    font-size: 45px;

    margin-block-start: 0;
    margin-block-end: 0;
}

.card > p {
    margin-block-start: 0;
    margin-block-end: 0;
}

@media screen and (max-width: 425px) {
    .card > p {
        font-size: 14px;
    }
}