.createTicketMain {
    width: 90%;
    max-width: 400px;
    height: 100%;

    background-color: #202050;
    border-radius: 5px;

    color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 100px;
}

.createTicketMain > h1 {
    width: 100%;
    font-weight: 100;

    margin-bottom: 20px;
}

.createTicketMain > input {
    width: 75%;
    height: 35px;

    border: 1px solid #eee;
    border-radius: 5px;

    margin: 5px;
}
.createTicketMain > input:focus {
    outline: 1px solid #888;
}

@media screen and (max-width: 425px) {
    .createTicketMain {
        margin-top: 40px;
    }
}